.dashboard {
  @include flexy($disp: flex, $dir: null, $wrap: null, $just: null);
  align-items: center;

  & input {
    height: 3.4em;
    width: 32em;
    text-align: center;
    border: none;
    background-color: $gray-background;
  }
}
