.messages {
  border: 1px solid $gray-color;
  border-top: 0;
  border-left: 0;

  .messages-container{
    @include flexy($disp: flex, $dir: column, $just: center);
    align-items: center;
    padding: 10px 0;

    input{
      width: $element-width;
      max-width: $max-element-width;
      margin: 15px 0;
      padding: 10px;
      background-color: $gray-background;
      border: 1px solid $gray-color;
      border-radius: 5px;
    }
    textarea{
      padding: 10px;
      width: $element-width;
      max-width: $max-element-width;
      background-color: $gray-background;
      border: 1px solid $gray-color;
      border-radius: 5px;
    }
    span{
      margin: 15px 0;
      padding: 10px;
      width: $element-width;
      max-width: $max-element-width;
      border-radius: 5px;
      text-align: center;
      background-color: $primary-background;
      color: $primary-fontColor;
      @include buttonBehaviour;
    }
  }
}

@media screen and (min-width: 768px) {

  .messages{
    min-width: 50%;
  }
  
  
}
