.new-members {
  border: 1px solid $gray-color;
  border-top: 0;
  border-left: 0;
  .new-members-cards{
    @include flexy($disp: flex, $dir: column, $just: center);
    align-items: center;
  }
  .member-card{
    @include flexy($disp: flex, $dir: column, $just: center);
    align-items: center;
    border-bottom: 1px solid $gray-color;
    padding: 10px 0;
    width: $element-width;
    max-width: $max-element-width;
    img{
      width: 80px;
      height: auto;
      margin: 5px 0;
    }
    &:last-child{
      border: 0;
    }

    .card-content{
      @include flexy($disp: flex, $dir: column, $just: center);
      align-items: center;

      .card-info{
        @include flexy($disp: flex, $dir: column, $just: center);
        align-items: center;
        & :nth-child(2){

          color: $primary-background;

        }

      }
    }
  }

  span{
    padding: 3px 0;
  }
}


@media screen and (min-width:768px){

  .member-card{
    @include flexy($dir: row!important, $just:space-between!important);
    max-width: 100%!important;
  }

  .card-content{
    @include flexy($dir: row!important, $just:space-between!important);
    span{
      display: block;
      margin: 10px;
    }
  }

  .card-info{
    padding: 10px;
    align-items: flex-start !important;
  }
}
