
.traffic-graph{
  @extend %w-100;
  margin: 0 auto;
}
.traffic {

  width: 100%;
  .buttons {
    @include flexy($disp: flex, $dir: row, $wrap: null, $just: space-evenly);
    align-items: center;
    &> span:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  .selectedBtn {
    border: 2px solid $button-green;
    background-color: $button-green;
    border-radius: 25px;
    padding: 0.5em;
    color: $primary-fontColor;
  }

  // &-chart{

  // }
}





// .traffic-chart{
//   width: $element-width;
//   max-width: $max-element-width;
//   height: auto;
//   border-radius: 0;
// }


// .traffic-chart{
//   margin: 0 auto;
//   width: 90%;
// }